@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  background: linear-gradient(
    92.23deg,
    #10b981 21.43%,
    #06b6d4 50.63%, 
    #6366f1 100%, 
    #a855f7 117.04% 
  );
  box-shadow: 0px 4.42184px 107.23px rgba(34, 211, 238, 0.51);
  padding: 8px 16px;
  border-radius: 6px;
  font-weight: bold;
  transition: all 0.3s;
  color: white;
}

.btn:hover {
  background: linear-gradient(
    92.23deg,
    #a855f7 21.43%, 
    #6366f1 50.63%, 
    #06b6d4 100%, 
    #10b981 117.04%
  );
}

.input {
  width: 100%;
  padding: 6px;
  margin: 4px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
  transition: border-color 0.3s, background-color 0.3s;
  color: #000;
}

.input:focus {
  border-color: #34d399;
  background-color: #f0fdfa;
}
